In [13]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
import warnings     #To ignore warnings
warnings.filterwarnings("ignore")
df=pd.read_csv("/Users/manaschakraborty/Downloads/clv_data.csv")
df.head(40)

,Unnamed: 0,id,age,gender,income,days_on_platform,city,purchases
0,0,0,NaN,Male,126895,14.0,San Francisco,0
1,1,1,NaN,Male,161474,14.0,Tokyo,0
2,2,2,24.0,Male,104723,34.0,London,1
3,3,3,29.0,Male,43791,28.0,London,2
4,4,4,18.0,Female,132181,26.0,London,2
5,5,5,23.0,Male,12315,14.0,New York City,0
6,6,6,NaN,Male,51679,30.0,Tokyo,0
7,7,7,NaN,Female,53341,43.0,San Francisco,1
8,8,8,46.0,Male,129157,23.0,New York City,0
9,9,9,49.0,Female,76842,19.0,Tokyo,2
10,10,10,NaN,Male,159506,7.0,New York City,0
11,11,11,NaN,Male,110343,30.0,San Francisco,1
12,12,12,12.0,Male,130521,12.0,London,1
13,13,13,NaN,Male,105418,13.0,Miami,0
14,14,14,NaN,Male,95060,7.0,Tokyo,1
15,15,15,31.0,Female,226249,20.0,Miami,0
16,16,16,19.0,Female,51434,18.0,New York City,0
17,17,17,27.0,Female,177582,2.0,London,0
18,18,18,10.0,Female,260,32.0,San Francisco,0
19,19,19,32.0,Female,15174,13.0,Tokyo,1
20,20,20,40.0,Male,18300,15.0,Tokyo,1
21,21,21,NaN,Male,67623,40.0,New York City,0
22,22,22,NaN,Female,39433,36.0,Miami,2
23,23,23,10.0,Female,108804,5.0,Tokyo,2
24,24,24,NaN,Female,38777,2.0,San Francisco,2
25,25,25,46.0,Female,112992,9.0,London,3
26,26,26,26.0,Female,24300,34.0,Tokyo,0
27,27,27,NaN,Male,12877,18.0,San Francisco,1
28,28,28,NaN,Male,44684,15.0,Tokyo,4
29,29,29,43.0,Male,70598,15.0,London,2
30,30,30,NaN,Male,1070,32.0,New York City,2
31,31,31,23.0,Male,25838,15.0,London,1
32,32,32,16.0,Male,92621,4.0,New York City,0
33,33,33,NaN,Male,19572,39.0,New York City,2
34,34,34,31.0,Male,89058,8.0,New York City,1
35,35,35,26.0,Female,21646,30.0,London,0
36,36,36,46.0,Male,58738,52.0,San Francisco,1
37,37,37,NaN,Male,111270,NaN,San Francisco,0
38,38,38,27.0,Female,19003,25.0,San Francisco,2
39,39,39,NaN,Male,4127,17.0,New York City,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        5000 non-null   int64
 1   id                5000 non-null   int64
 2   age               2554 non-null   float64
 3   gender            5000 non-null   object
 4   income            5000 non-null   int64
 5   days_on_platform  4859 non-null   float64
 6   city              5000 non-null   object
 7   purchases         5000 non-null   int64
dtypes: float64(2), int64(4), object(2)
memory usage: 312.6+ KB

In [5]:
# Check for missing values
print(df.isnull().sum())

Unnamed: 0             0
id                     0
age                 2446
gender                 0
income                 0
days_on_platform     141
city                   0
purchases              0
dtype: int64

In [8]:
# Fill missing age with mean
df['age'].fillna(df['age'].mean(), inplace=True)
df['days_on_platform'].fillna(df['days_on_platform'].mean(), inplace=True)

In [12]:
df.head(40)

,Unnamed: 0,id,age,gender,income,days_on_platform,city,purchases
0,0,0,30.202036,Male,126895,14.000000,San Francisco,0
1,1,1,30.202036,Male,161474,14.000000,Tokyo,0
2,2,2,24.000000,Male,104723,34.000000,London,1
3,3,3,29.000000,Male,43791,28.000000,London,2
4,4,4,18.000000,Female,132181,26.000000,London,2
5,5,5,23.000000,Male,12315,14.000000,New York City,0
6,6,6,30.202036,Male,51679,30.000000,Tokyo,0
7,7,7,30.202036,Female,53341,43.000000,San Francisco,1
8,8,8,46.000000,Male,129157,23.000000,New York City,0
9,9,9,49.000000,Female,76842,19.000000,Tokyo,2
10,10,10,30.202036,Male,159506,7.000000,New York City,0
11,11,11,30.202036,Male,110343,30.000000,San Francisco,1
12,12,12,12.000000,Male,130521,12.000000,London,1
13,13,13,30.202036,Male,105418,13.000000,Miami,0
14,14,14,30.202036,Male,95060,7.000000,Tokyo,1
15,15,15,31.000000,Female,226249,20.000000,Miami,0
16,16,16,19.000000,Female,51434,18.000000,New York City,0
17,17,17,27.000000,Female,177582,2.000000,London,0
18,18,18,10.000000,Female,260,32.000000,San Francisco,0
19,19,19,32.000000,Female,15174,13.000000,Tokyo,1
20,20,20,40.000000,Male,18300,15.000000,Tokyo,1
21,21,21,30.202036,Male,67623,40.000000,New York City,0
22,22,22,30.202036,Female,39433,36.000000,Miami,2
23,23,23,10.000000,Female,108804,5.000000,Tokyo,2
24,24,24,30.202036,Female,38777,2.000000,San Francisco,2
25,25,25,46.000000,Female,112992,9.000000,London,3
26,26,26,26.000000,Female,24300,34.000000,Tokyo,0
27,27,27,30.202036,Male,12877,18.000000,San Francisco,1
28,28,28,30.202036,Male,44684,15.000000,Tokyo,4
29,29,29,43.000000,Male,70598,15.000000,London,2
30,30,30,30.202036,Male,1070,32.000000,New York City,2
31,31,31,23.000000,Male,25838,15.000000,London,1
32,32,32,16.000000,Male,92621,4.000000,New York City,0
33,33,33,30.202036,Male,19572,39.000000,New York City,2
34,34,34,31.000000,Male,89058,8.000000,New York City,1
35,35,35,26.000000,Female,21646,30.000000,London,0
36,36,36,46.000000,Male,58738,52.000000,San Francisco,1
37,37,37,30.202036,Male,111270,24.389998,San Francisco,0
38,38,38,27.000000,Female,19003,25.000000,San Francisco,2
39,39,39,30.202036,Male,4127,17.000000,New York City,2

In [15]:
# Now we will remove missing values

In [16]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
import warnings     #To ignore warnings
warnings.filterwarnings("ignore")
df1=pd.read_csv("/Users/manaschakraborty/Downloads/clv_data.csv")
df1.head(40)

,Unnamed: 0,id,age,gender,income,days_on_platform,city,purchases
0,0,0,NaN,Male,126895,14.0,San Francisco,0
1,1,1,NaN,Male,161474,14.0,Tokyo,0
2,2,2,24.0,Male,104723,34.0,London,1
3,3,3,29.0,Male,43791,28.0,London,2
4,4,4,18.0,Female,132181,26.0,London,2
5,5,5,23.0,Male,12315,14.0,New York City,0
6,6,6,NaN,Male,51679,30.0,Tokyo,0
7,7,7,NaN,Female,53341,43.0,San Francisco,1
8,8,8,46.0,Male,129157,23.0,New York City,0
9,9,9,49.0,Female,76842,19.0,Tokyo,2
10,10,10,NaN,Male,159506,7.0,New York City,0
11,11,11,NaN,Male,110343,30.0,San Francisco,1
12,12,12,12.0,Male,130521,12.0,London,1
13,13,13,NaN,Male,105418,13.0,Miami,0
14,14,14,NaN,Male,95060,7.0,Tokyo,1
15,15,15,31.0,Female,226249,20.0,Miami,0
16,16,16,19.0,Female,51434,18.0,New York City,0
17,17,17,27.0,Female,177582,2.0,London,0
18,18,18,10.0,Female,260,32.0,San Francisco,0
19,19,19,32.0,Female,15174,13.0,Tokyo,1
20,20,20,40.0,Male,18300,15.0,Tokyo,1
21,21,21,NaN,Male,67623,40.0,New York City,0
22,22,22,NaN,Female,39433,36.0,Miami,2
23,23,23,10.0,Female,108804,5.0,Tokyo,2
24,24,24,NaN,Female,38777,2.0,San Francisco,2
25,25,25,46.0,Female,112992,9.0,London,3
26,26,26,26.0,Female,24300,34.0,Tokyo,0
27,27,27,NaN,Male,12877,18.0,San Francisco,1
28,28,28,NaN,Male,44684,15.0,Tokyo,4
29,29,29,43.0,Male,70598,15.0,London,2
30,30,30,NaN,Male,1070,32.0,New York City,2
31,31,31,23.0,Male,25838,15.0,London,1
32,32,32,16.0,Male,92621,4.0,New York City,0
33,33,33,NaN,Male,19572,39.0,New York City,2
34,34,34,31.0,Male,89058,8.0,New York City,1
35,35,35,26.0,Female,21646,30.0,London,0
36,36,36,46.0,Male,58738,52.0,San Francisco,1
37,37,37,NaN,Male,111270,NaN,San Francisco,0
38,38,38,27.0,Female,19003,25.0,San Francisco,2
39,39,39,NaN,Male,4127,17.0,New York City,2

In [18]:
# Check for missing values
print(df1.isnull().sum())

Unnamed: 0             0
id                     0
age                 2446
gender                 0
income                 0
days_on_platform     141
city                   0
purchases              0
dtype: int64

In [27]:
# Drop rows with missing names
df1.dropna(subset=['age'], inplace=True)
df1.dropna(subset=['days_on_platform'], inplace=True)
df1.head(40)

,Unnamed: 0,id,age,gender,income,days_on_platform,city,purchases
2,2,2,24.0,Male,104723,34.0,London,1
3,3,3,29.0,Male,43791,28.0,London,2
4,4,4,18.0,Female,132181,26.0,London,2
5,5,5,23.0,Male,12315,14.0,New York City,0
8,8,8,46.0,Male,129157,23.0,New York City,0
9,9,9,49.0,Female,76842,19.0,Tokyo,2
12,12,12,12.0,Male,130521,12.0,London,1
15,15,15,31.0,Female,226249,20.0,Miami,0
16,16,16,19.0,Female,51434,18.0,New York City,0
17,17,17,27.0,Female,177582,2.0,London,0
18,18,18,10.0,Female,260,32.0,San Francisco,0
19,19,19,32.0,Female,15174,13.0,Tokyo,1
20,20,20,40.0,Male,18300,15.0,Tokyo,1
23,23,23,10.0,Female,108804,5.0,Tokyo,2
25,25,25,46.0,Female,112992,9.0,London,3
26,26,26,26.0,Female,24300,34.0,Tokyo,0
29,29,29,43.0,Male,70598,15.0,London,2
31,31,31,23.0,Male,25838,15.0,London,1
32,32,32,16.0,Male,92621,4.0,New York City,0
34,34,34,31.0,Male,89058,8.0,New York City,1
35,35,35,26.0,Female,21646,30.0,London,0
36,36,36,46.0,Male,58738,52.0,San Francisco,1
38,38,38,27.0,Female,19003,25.0,San Francisco,2
40,40,40,31.0,Male,138533,20.0,New York City,3
44,44,44,36.0,Male,1062,28.0,Tokyo,2
47,47,47,34.0,Male,9866,33.0,London,5
48,48,48,36.0,Male,62665,35.0,San Francisco,0
49,49,49,40.0,Female,107003,44.0,Tokyo,1
50,50,50,36.0,Male,255965,22.0,Tokyo,1
51,51,51,42.0,Male,85704,23.0,New York City,4
53,53,53,47.0,Female,95797,29.0,San Francisco,0
54,54,54,13.0,Male,229581,50.0,Miami,1
55,55,55,49.0,Female,114434,2.0,London,1
62,62,62,27.0,Female,76525,30.0,Tokyo,0
63,63,63,11.0,Male,115977,37.0,Tokyo,1
64,64,64,12.0,Male,55581,2.0,Miami,0
65,65,65,21.0,Female,10834,22.0,Miami,0
66,66,66,13.0,Male,181514,11.0,San Francisco,1
70,70,70,13.0,Female,42665,6.0,London,0
73,73,73,11.0,Female,10174,43.0,London,0

In [28]:
# Checking for duplicate values
duplicates = df1[df1.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Unnamed: 0, id, age, gender, income, days_on_platform, city, purchases]
Index: []